---
interface Props {
   data: { body: Array<string> };
}

const { data } = Astro.props as Props;
---

<section class="founder split-content">
   <div class="half first-half">
      <!-- TODO replace with hand written title -->
      <h2>Hi, I'm Ramo</h2>
      {data.body.map(p => <p>{p}</p>)}
   </div>
   <div class="half second-half">
      <!-- TODO add image -->
      <div class="photo"></div>
   </div>
</section>

<style>
.photo {
   background-color: lightcoral;
   inline-size: 100%;
   max-inline-size: 300px;
   block-size: 300px;
}
</style>