@import './resets.css';

@import 'open-props/postcss/style';
@import 'open-props/postcss/normalize';

@import './ramocore.scss';
@import './tokens.css';

@import './graph.css';


html {
   color: var(--text);
   background-color: var(--page);
   font-family: var(--font-base, sans-serif);
}
h1, h2, h3, h4, h5, h6 {
   max-inline-size: 100%;
}
h1, h2, .fancy-font {
   font-family: var(--font-fancy, sans-serif);
   color: var(--brand-tt);
}
h3, .note-font {
   font-family: var(--font-note, sans-serif);
   color: var(--second-tt);
   letter-spacing: .1em;
}
p {
   inline-size: 100%;
   max-inline-size: none;
}
a:not(.btn) {
   color: var(--accent-t);
   border-bottom: var(--border-size-2) solid var(--accent-t);
}
.icon {
   font-size: var(--size-7);
   color: var(--second);
}
