
//COMPOSITION
   //.center-tainer

:root {
   --fluid-padi-marg: max(((100% - 70rem) / 2), var(--size-fluid-7));
}

.flow > * + * {
   margin-top: var(--flow-space, var(--size-7));
}
section, .page-wide {
   width: 100%;
   padding-inline: var(--fluid-padi-marg);
}
.section-pad {
   padding-block: var(--size-11);
}

.flex-row {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: var(--size-3);
}
.flex-col, .half {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   inline-size: 100%;
   block-size: 100%;
}
.grid-wrap, .split-content, .grid-thirds {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
   justify-content: center;
   align-items: center;
   gap: var(--size-7);
}


// UTILITIES
//   spacing helpers like .max-width-content
//   text alignment
//   visibility helpers

// BLOCKS
//   .link, a
//   .hero
//   .card
//   .button
//   .cta-banner
//   .feature-grid

.placeholder {
   border: var(--border-size-4) solid var(--brand-pp);
   background-color: var(--page-1);
}