.split-content {
   display: grid;
   grid-template-columns: 1fr 1fr;
   justify-content: center;
   align-items: center;
   margin-block: var(--size-10);
}
.half {
   display: flex;
   flex-direction: column;
   align-items: center;
   inline-size: 100%;
   block-size: 100%;
   padding: var(--size-7);
}

// COMPOSITION
//   .container
//   .flow
//   .stack
//   .cluster
//   .grid
//   .sidebar
//   .center
//   .cover

// UTILITIES
//   spacing helpers like .max-width-content
//   text alignment
//   visibility helpers

// BLOCKS
//   .link, a
//   .hero
//   .card
//   .button
//   .cta-banner
//   .feature-grid

// 5. Theme Hooks
//   [data-theme]
//   theme variable overrides