---
interface Props {
   text: string,
   link: string,
   id?:string,
   classList?: string
}

const { text, link, id, classList, ...rest } = Astro.props;
---
<a href={link}
   class:list={['btn', classList]}
   id={id}
   {...rest}
>
   {text}
</a>

<style>
   .btn {
      background-color: var(--accent);
      color: var(--stone-10);
      padding: var(--size-3) var(--size-6);
      font-weight: var(--font-weight-7);
   }
   .btn-large{
      padding: var(--size-4) var(--size-7);
      font-size: var(--font-size-fluid-1)
   }
</style>