---
import Section from '../components/Section.astro';
import Button from '../components/Button.astro';

import { Icon } from 'astro-icon/components';

interface Props {
   btnLink: string,
   btnText: string,
   text: string,
   id?: string
}

const { btnLink, btnText, text, id } = Astro.props as Props;
---

<Section sectClass="graph-paper" divClass="cluster" id={id}>
   <Button text={btnText} link={btnLink} classList="btn-large" />
   <Icon name="tabler:arrow-big-right-line" class="icon" />
   <p class="cta_text">{text}</p>
</Section>
