---
import { LINKS } from '../content/consts';
---

<footer class="section-pad page-wide">
   <div class="title | fancy-font">
      <h4 class="site-title">Build a Home That's Yours</h4>
   </div>
   <div class="signoff">
      <p class="thanks">Thanks for helping shape what comes next.</p>
      <a href={LINKS.ramo} target="_blank">♡, Ramo</a>
   </div>
   <div class="copyright">
      <p>&copy; 2026</p>
      <p>theRamoShe LLC</p>
      <p>All Rights Reserved</p>
   </div>
</footer>

<style>
   footer {
      width: 100%;
      background-color: var(--page-0);
      display: grid;
      grid-template-columns: 1fr 2fr 1fr;
      justify-content: center;
      align-items: center;
   }
   .site-title {
      font-size: 160%;
      text-wrap: balance;
      color: var(--brand);
   }
   .signoff {
      text-align: center;
   }
   .thanks {
      text-wrap: balance;
      padding-block-end: var(--size-4);
   }
   .copyright p {
      text-align: end;
      color: var(--second);
      font-size: 93%;
   }
</style>