---
import { LINKS } from '../content/consts';
---

<footer class="grid-thirds section-pad page-wide">
   <div class="title | first-third fancy-font">
      <h4 class="site-title">Build a Home That's Yours</h4>
   </div>
   <div class="signoff | middle-third">
      <p class="thanks">Thanks for helping shape what comes next.</p>
      <a href={LINKS.ramo} target="_blank">♡, Ramo</a>
   </div>
   <div class="copyright | last-third">
      <p>&copy; 2026</p>
      <p>theRamoShe LLC</p>
      <p>All Rights Reserved</p>
   </div>
</footer>

<style>

   footer {
      width: 100%;
      background-color: var(--page-0);
   }
   .middle-third {
      text-align: center;
   }
   .last-third {
      text-align: end;
      color: var(--second);
   }
   .site-title {
      font-size: 200%;
      text-wrap: balance;
      color: var(--brand);
   }
   .thanks {
      text-wrap: balance;
   }
</style>