---

import LogoSwitch from '../assets/ramoLogoSwitch.svg';
import { LINKS } from '../content/consts';
---

<footer class="section">
   <div class="container grid">
      <div class="title | fancy-font">
         <p>Build a Home That's Yours</p>
      </div>
      <div class="thanks | stack">
         <p>Thanks for helping shape what comes next.</p>
         <a href={LINKS.ramo} target="_blank">♡, Ramo</a>
      </div>
      <div class="copyright | stack">
         <LogoSwitch class="logo" />
         <p>&copy; 2026 theRamoShe LLC<br />All Rights Reserved</p>
      </div>
   </div>
</footer>

<style>
   .section {
      background-color: var(--text-2);
      color: var(--page-0);
      text-align: center;
      container-type: inline-size;
   }
   .grid {
      --grid-gap: var(--size-3);
      --grid-min: 10rem;
      --grid-columns: 1fr 2fr 1fr;
   }
   .stack {
      --stack-gap: var(--size-3);
      --stack-justify: center;
      --stack-align: center;
   }
   .title p {
      font-size: 2em;
      text-wrap: unset;
      color: var(--brand-pp);
      margin-inline-end: auto;
   }
   .thanks a {
      inline-size: fit-content;
      color: var(--page);
      font-size: 1.2em;
   }
   .copyright p {
      color: var(--second-pp);
      font-size: .8em;
   }
   .logo {
      block-size: var(--size-9);
   }

   @container (max-width: 60rem) {
      .grid {
         --grid-columns: 1fr 1fr 1fr;
      }
   }
   @container (max-width: 40rem) {
      .grid {
         --grid-columns: 1fr;
      }
   }
</style>