---

import LogoSwitch from '../assets/ramoLogoSwitch.svg';
import { LINKS } from '../content/consts';
---

<footer class="section-pad page-wide grid-wrap">
   <div class="title | fancy-font">
      <h4 class="site-title">Build a Home That's Yours</h4>
   </div>
   <div class="signoff">
      <p class="thanks">Thanks for helping shape what comes next.</p>
      <a href={LINKS.ramo} target="_blank">♡, Ramo</a>
   </div>
   <div class="copyright flex-col">
      <LogoSwitch class="logo" />
      <p>&copy; 2026 theRamoShe LLC<br />All Rights Reserved</p>
   </div>
</footer>

<style>
   footer {
      background-color: var(--page-0);
      text-align: center;
      grid-template-columns: repeat(auto-fit, minmax(min(140px, 100%), 1fr)) !important;
      gap: var(--size-1) !important;
   }
   .site-title {
      font-size: 160%;
      text-wrap: unset;
      color: var(--brand);
      margin-inline-end: auto;
      text-align: left;
   }
   .signoff {
      grid-column: span 2;
   }
   .thanks {
      text-wrap: balance;
      padding-block-end: var(--size-4);
   }
   .copyright p {
      color: var(--second);
      font-size: 80%;
   }
   .logo {
      block-size: var(--size-8);
      margin-block-end: var(--size-4);
   }
   @custom-media --lg-n-below {
      .site-title {
         text-align: center;
         color: red;
      }
      .signoff {
         grid-column: span 1;
      }
      footer {
         display: flex;
         flex-direction: column;
      }
   }
</style>