---

import LogoSwitch from '../assets/ramoLogoSwitch.svg';
import { LINKS } from '../content/consts';
---

<footer class="section">
   <div class="grid">
      <div class="title | fancy-font">
         <p>Build a Home That's Yours</p>
      </div>
      <div class="thanks | stack">
         <p>Thanks for helping shape what comes next.</p>
         <a href={LINKS.ramo} target="_blank">♡, Ramo</a>
      </div>
      <div class="copyright | stack">
         <LogoSwitch class="logo" />
         <p>&copy; 2026 theRamoShe LLC<br />All Rights Reserved</p>
      </div>
   </div>
</footer>

<style>
   .section {
      background-color: var(--text-2);
      color: var(--page-0);
      text-align: center;
      /* container-type: inline-size; */
   }
   .grid {
      --grid-gap: var(--size-3);
      --grid-min: 10rem;
      --grid-columns: 1fr 2fr 1fr;
   }
   .title p {
      font-size: 200%;
      text-wrap: unset;
      color: var(--brand-pp);
      margin-inline-end: auto;
   }
   .stack {
      --stack-gap: var(--size-3);
   }
   .thanks a {
      inline-size: fit-content;
      margin: auto;
      color: var(--page);
   }
   .copyright p {
      color: var(--second-pp);
      font-size: 80%;
   }
   .logo {
      block-size: var(--size-8);
      margin: auto;
   }
</style>