---
import { Icon } from 'astro-icon/components';
import LogoSwitch from '../assets/ramoLogoSwitch.svg';
---

<header class="container cluster">
   <div class="logo">
      <LogoSwitch />
   </div>
   <form class="cluster" onchange="document.documentElement.dataset.theme = event.target.value">
      <label>
         <input type="radio" name="theme" value="dark" />
         <Icon name="tabler:moon" />
      </label>
      <label>
         <input type="radio" name="theme" value="system" checked />
         <Icon name="tabler:device-desktop" />
      </label>
      <label>
         <input type="radio" name="theme" value="light" />
         <Icon name="tabler:sun" />
      </label>
   </form>
</header>

<style>
   header {
      --cluster-justify: space-between;
      padding-block-end: var(--size-9);
   }
   input[type="radio"] {
      display: none;
   }
   label {
      cursor: pointer;
      font-size: var(--size-7);
      color: var(--accent-p);
      opacity: 80%;
   }
   label:has(input:checked) {
      color: var(--text-2);
      opacity: 100%;
   }
   [data-theme="dark"] .logo-light {
      display: none;
   }
   [data-theme="light"] .logo-dark {
      display: none;
   }
</style>