---
import { Icon } from 'astro-icon/components';
import LogoSwitch from '../assets/ramoLogoSwitch.svg';
---

<header>
   <div class="logo">
      <LogoSwitch />
   </div>
   <form class="theme-switch | flex-row" onchange="document.documentElement.dataset.theme = event.target.value">
      <label><input type="radio" name="theme" value="dark" />
         <Icon name="tabler:moon" /></label>
      <label><input type="radio" name="theme" value="system" checked />
         <Icon name="tabler:device-desktop"></label>
      <label><input type="radio" name="theme" value="light" />
         <Icon name="tabler:sun"></label>
   </form>
</header>

<style>
   header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-block: var(--size-3) var(--size-9);
   }
   input[type="radio"] {
      display: none;
   }
   label {
      font-size: var(--size-6);
      color: var(--accent-p);
      opacity: 80%;
   }
   label:has(input:checked) {
      color: var(--text-2);
      opacity: 100%;
   }
   [data-theme="dark"] .logo-light {
      display: none;
   }
   [data-theme="light"] .logo-dark {
      display: none;
   }
</style>