---
import VisionDiagram from '../assets/visionDiagram.astro';

interface Props {
   data: {
      heading: string,
      body: string[],
      call: string
   };
}

const { data } = Astro.props as Props;
---

<section id="vision" class="section">
   <div class="container grid">
      <div class="flow copy">
         <h2>{data.heading}</h2>
         {data.body.map(p => <p>{p}</p>)}
         <h3 class="call">{data.call}</h3>
      </div>
      <div class="visual">
         <VisionDiagram />
      </div>
   </div>
</section>

<style>
   .grid {
      --grid-columns:1fr 1.5fr;
      grid-template-areas:"copy visual";
      align-items:center;
   }
   .copy { grid-area:copy; }
   .visual { grid-area:visual; }

   p {
      max-inline-size:100%;
      text-wrap:balance;
   }
   .call {
      margin-block-start: var(--size-9);
   }

   @media (max-width: 600px) {
      .section { text-align: center; }
      .grid {
         --grid-columns: 1fr;
         grid-template-areas:
            "heading"
            "body"
            "visual"
            "call";
      }
      .copy { display: contents; }
      h2 { grid-area: heading; }
      p { grid-area: body; }
      .visual { grid-area: visual; }
      .call { grid-area: call; margin-block-start:var(--size-4); }
   }
</style>