---
import { Icon } from 'astro-icon/components';

const platforms = [
  "instagram",
  "ko-fi",
  "kick",
  "snapchat",
  "onlyfans",
  "logos:twitch",
  "logos:facebook",
  "logos:patreon",
  "logos:bluesky",
  "logos:youtube-icon",
  "logos:discord-icon",
  "logos:tiktok-icon",
  "logos:threads-icon",
  "logos:mastadon-icon",
];
---

<div class="orbit">
  {platforms.map((platform) => (
    <div class="platform">
      <Icon name={platform} />
    </div>
  ))}
</div>