---
import HeadBase from '../components/HeadBase.astro';

interface Props {
   title: string;
   description: string;
};

const { title, description } = Astro.props as Props;
---
<html lang="en">
	<head>
		<HeadBase title={title} description={description} />
	</head>
	<body>
      <main>
         <slot />
      </main>
	</body>
</html>

<style>
   body {
      font-family: var(--font-nunito, sans-serif);
   }
   main {
      margin-inline: max(((100% - 70rem) / 2), var(--size-fluid-7));
   }

/* BASE STYLES */
   /* fonts */
   /* colors */
   /* body */
   /* headings */
   /* paragraphs */
</style>